.sidebar {
  background-color: #333;
  width: 256px;
  height: 100%;
  transition: all 0.3s ease-out allow-discrete;
}

.navSidebar {
  padding: 1rem;
}

.listSidebar {
  list-style: none;
  padding: 10px;
}

.itemSidebar {
  margin-bottom: 1rem;
}

.itemSidebar .linkSidebar {
  text-decoration: none !important;
  justify-content: center;
  gap: 10px;
  display: inline-flex;
}

.linkSidebar {
  text-decoration: none;
  color: #ffffff;
}

.linkSidebar:hover {
  color: #daaa00;
}

/* Media query para tornar responsivo */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .navSidebar {
    padding: 1rem;
  }
}

/* 
.sidebar {
  width: 200px;
  /* Defina a largura da barra lateral conforme necessário */
/* transition: width 0.3s ease; */
/* } */
/* */

.sidebar.open {
  width: 0%;
}

.sidebar.open .linkSidebar {
  display: none;
  color: black;
  background-color: rgba(255, 255, 255, 0);
}

#icon {
  height: 14px;
  width: 30px;
}

.sidebar-item:not(:last-child) .sidebar-link {
  border-bottom: 1px solid #ccc;
}

