/* profile */
.container {
  background-color: #ffffff70;
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-shadow: 0 30px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#container:hover {
  transform: translateY(-10px);
  background-color: #ffffff;
  z-index: 1;
  border-radius: 0px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* selector */
.container .title {
  color: #343a40;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card strong {
  margin-left: 10px;
}

.card-data {
  color: #000000;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.card-printed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
