.wrapper {
  background-color: var(--gray-400);
  color: var(--white);
  border-bottom: 1px solid orange;
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
}

.optionsNav {
  flex-grow: 1;
  padding: 20px;
}

.listNav {
  list-style: none;
  padding: 0;
  display: flex;
}

.itemNav {
  margin-right: 1rem;
}

.linkNav {
  text-decoration: none;
  color: #fff;
}

.linkNav:hover {
  color: #daaa00;
}

.sidebarToggle {
  background-color: #575757;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.sidebarToggle:hover {
  background-color:#eaeaea;
}

.boxBtn {
  margin-left: 1rem;
}

.handleLogout {
  background-color: #daaa00;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.handleLogout:hover {
  background-color: #606060;
}

/* Media query para tornar responsivo */
@media screen and (max-width: 768px) {
  .logout-btn-container {
    margin-left: 0;
    margin-top: 1rem;
  }
}
