.main {
  background-color: #333;
  color: #fff;
  padding: 5px;
  width: 100%;
}

.main .link {
  color: white;
}

.main .link:hover {
  color: #daaa00;
}

.content {
  display: inline-block;
  text-align: center;
  width: 50%; /* Adiciona uma largura para ocupar metade da linha */
}

.version {
  display: inline-block;
  text-align: right;
  width: 40%; /* Adiciona uma largura para ocupar metade da linha */
}
