.wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 1rem;
}

.columnStatus {
  padding: 30px 1rem;
  margin: 0px 5px;
}

.titleStatus {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 34px;
  gap: 10px;
}

.iconByStatus {
  margin-right: 5px;
  height: 2.50rem;
}

/* Exibição do Contador de Pedidos */
.countByStatus {
  background-color: white;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  padding: 5px 0px;
  font-size: 20px;
}

/* Exibição do Fundo do Card */
.bodyCard {
  display: block;
  border-radius: 5px;
  padding: 2px 4px;
  margin: 10px 0px 0px 2px;
}

@media screen and (max-width: 700px) {
  .wrapper {
    display: inline;
  }
}
