/* profile */
.container {
  background-color: #ffffff70;
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-shadow: 0 30px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: translateY(-10px);
  background-color: #ffffff;
  z-index: 1;
  border-radius: 0px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* selector */
.container .title {
  color: #343a40;
  font-weight: bold;
  font-size: 1.50rem;
  margin: 0.625rem 0rem 1rem 0rem;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #e5e7eb;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cardTime {
  display: flex;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.cardTime strong {
  margin-left: 10px;
}

.cardDate {
  color: #000000;
  font-size: 1.25rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.cardPrinted {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}