#container-error {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content-error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  color: #daaa00;
}

.content-error p {
  font-size: 34px;
  padding: 2px 5px;
}

.content-error p a {
  padding: 10px 0px 10px 0px;
  font-size: 18px;
  display: block;
  color: gray;
}

.content-error p a:hover {
  color: #daaa00;
}


