.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.error {
  padding: 1rem;
}

.error span {
  display: flex;
  gap: 10px;
  color: #daaa00;
  font-size: 34px;
  padding: 2px 5px;
}

.error a {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  font-size: 18px;
  color: gray;
}

.error a:hover {
  color: #daaa00;
}
