.removeScroll {
  overflow-y: scroll;
}

.removeScroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */ 
}

.removeScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
