.wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
}

.containerLogin {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  box-shadow: var(--gray-400) 0px 5px 15px;
  padding: 1.25rem;
  max-width: 25rem;
  flex-direction: column;
  height: 100%;
  gap: 6rem;
}

.formBackground {
  display: flex;
  height: 80%;
  margin: auto;
  padding: auto;
}

#formBackground img {
  width: 50rem;
}


@media (max-width: 850px) {
  .formBackground {
    /* visibility: collapse; */
    display: none;
  }
  .containerLogin {
    height: 40rem;
    margin: auto;
    display: flow;
    align-content: center;
  }
}

.headerLogin {
  text-align: center;
  padding: 0.625rem;
}

.headerLogo {
  width: 10.75rem;
  padding: 15px;
}

/* label and input */
.formBody {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.spaceInput {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formLogin {
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 0;
  padding: 0;
}

.formLogin label {
  padding: 0px 0px 10px 15px;
}

.formControl {
  width: 100%;
  height: 2.813rem;
  line-height: 30px;
  padding: 0 5rem;
  padding-left: 3rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #0d0c22;
  transition: .5s ease;
  border: 1px solid rgb(128, 128, 128);
}

.formControl::placeholder {
  color: #94a3b8;
}

.formControl:focus, input:hover {
  outline: none;
  border-color: #daaa00;
  background-color: #fff;
  box-shadow: 0 0 0 5px rgba(119, 119, 119, 0.3);
}

.formLink {
  margin: 5px 0px 0px 0px;
  padding-top: 15px;
}

.linkRegistration {
  color: #daaa00 !important;
}

.messageError {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.buttonLogin {
  background-color: #575757;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: inline-flex;
  width: 100%;
  margin-top: 60px;
  justify-content: center;
  box-shadow: 0px 5px 5px 0px #0d0c2271;
}

.buttonLogin:hover {
  background-color: #daaa00;
}





