body {
  background-color: var(--gray-100);
  color: var(--gray-900);
  /* proriedade semelhantes / chrome && firefox */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1rem;
}
