body {
  background-color: var(--white-background);
  color: var(--gray-900);
  /* proriedade semelhantes / chrome && firefox */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
