.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4; /* Cor de fundo neutra */
  color: #333; /* Cor do texto */
}

.titleContainer {
  font-size: 24px;
  margin-bottom: 20px;
}

.titleText {
  font-weight: bold;
}

.contentContainer {
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputButton {
  padding: 10px 20px;
  background-color: #3498db; /* Cor de destaque */
  color: #fff; /* Cor do texto no botão */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.userInfo {
  margin-top: 10px;
  font-size: 14px;
}
