body {
  background-color: #e9e9e9 !important;
  color: #000000;
}

.dashboard-container {
  padding: 20px;
}

.body {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.column {
  background-color: #292929;
  border-radius: 10px;
  padding: 0px 5px;
  margin-top: 15px;
  box-shadow: 0 10px 25px rgba(2, 2, 2, 0.534);
  transition: transform 0.2s ease-in-out;
}

.column:hover {
  transform: translateY(-10px);
}

.column span {
  font-weight: bold;
  color: #000000;
  display: block;
}

.centered-span {
  display: block;
  font-size: 50px;
  text-align: center;
  animation: slideInFromTop 0.5s ease-out;
  font-weight: bold;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* #colorStatusAguardando {
  background-color: #e5e5e5 !important;
}

#colorStatusAprovado {
  background-color: #c6e1c6 !important;
} */

#colorStatusNfEmitida {
  background-color: #ffffffaa;
}

#colorStatusSeparacao {
  background-color: #ffffff;
}

#colorStatusColeta {
  background-color: #ffffff;
}

#colorStatusTransporte {
  background-color: #ffffff;
}

/* #colorStatusEntregue {
  background-color: #c8d7e1;
} */

.position-icon {
  width: 30px;
  height: 30px;
  margin: 10px;
  margin-bottom: 15px;
}

.caixa {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgb(0, 0, 0);
  display: block;
  background-color: white;
  font-size: 40px;
}
